body {
  margin:0px;
  background-color:rgba(0, 0, 0, 1);
  background-image:url('../../images/voucher/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  background-origin:border-box;
  position:relative;
  left:0px;
  width:1360px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1310_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1360px;
  height:181px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1310 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1360px;
  height:181px;
  display:flex;
}
#u1310 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1310_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1311_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Book Antiqua Regular', 'Book Antiqua';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CC3300;
}
#u1311 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:133px;
  width:90px;
  height:20px;
  display:flex;
  font-family:'Book Antiqua Regular', 'Book Antiqua';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CC3300;
}
#u1311 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1311_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1312_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:125px;
  height:5px;
}
#u1312 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:155px;
  width:122px;
  height:2px;
  display:flex;
}
#u1312 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1312_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1313_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:125px;
  height:5px;
}
#u1313 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:128px;
  width:122px;
  height:2px;
  display:flex;
}
#u1313 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1313_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1314 {
  border-width:0px;
  position:absolute;
  left:830px;
  top:162px;
  width:123px;
  height:38px;
  visibility:hidden;
}
#u1314_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:38px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1314_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1315_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:38px;
  background:inherit;
  background-color:rgba(204, 51, 18, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1315 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:38px;
  display:flex;
}
#u1315 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1315_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1316_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Book Antiqua Regular', 'Book Antiqua';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1316 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:10px;
  width:98px;
  height:17px;
  display:flex;
  font-family:'Book Antiqua Regular', 'Book Antiqua';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1316 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1316_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1317_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Book Antiqua Regular', 'Book Antiqua';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u1317 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:10px;
  width:98px;
  height:17px;
  display:flex;
  font-family:'Book Antiqua Regular', 'Book Antiqua';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u1317 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1317_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1318 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:10px;
  width:99px;
  height:18px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1319_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:598px;
  height:30px;
}
#u1319 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:55px;
  width:598px;
  height:30px;
  display:flex;
}
#u1319 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1319_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1320_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1320 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:30px;
  width:140px;
  height:80px;
  display:flex;
}
#u1320 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1320_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1321_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:30px;
}
#u1321 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:54px;
  width:600px;
  height:30px;
  display:flex;
}
#u1321 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1321_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1322_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:416px;
  height:7px;
}
#u1322 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:69px;
  width:412px;
  height:3px;
  display:flex;
}
#u1322 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1322_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1323_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:416px;
  height:7px;
}
#u1323 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:68px;
  width:412px;
  height:3px;
  display:flex;
}
#u1323 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1323_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1324_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:143px;
  height:5px;
}
#u1324 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:24px;
  width:140px;
  height:2px;
  display:flex;
}
#u1324 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1324_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1325_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'French Script MT Regular', 'French Script MT';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u1325 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:42px;
  width:108px;
  height:55px;
  display:flex;
  font-family:'French Script MT Regular', 'French Script MT';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u1325 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1325_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1326_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:88px;
}
#u1326 {
  border-width:0px;
  position:absolute;
  left:604px;
  top:28px;
  width:2px;
  height:85px;
  display:flex;
}
#u1326 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1326_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1327_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:88px;
}
#u1327 {
  border-width:0px;
  position:absolute;
  left:753px;
  top:28px;
  width:2px;
  height:85px;
  display:flex;
}
#u1327 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1327_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1328_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Book Antiqua Regular', 'Book Antiqua';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CC3300;
}
#u1328 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:134px;
  width:51px;
  height:20px;
  display:flex;
  font-family:'Book Antiqua Regular', 'Book Antiqua';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CC3300;
}
#u1328 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1328_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1329_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Book Antiqua Regular', 'Book Antiqua';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CC3300;
}
#u1329 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:134px;
  width:145px;
  height:20px;
  display:flex;
  font-family:'Book Antiqua Regular', 'Book Antiqua';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CC3300;
}
#u1329 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1329_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1330_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Book Antiqua Regular', 'Book Antiqua';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CC3300;
}
#u1330 {
  border-width:0px;
  position:absolute;
  left:1162px;
  top:134px;
  width:70px;
  height:20px;
  display:flex;
  font-family:'Book Antiqua Regular', 'Book Antiqua';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CC3300;
}
#u1330 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1330_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1331_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Book Antiqua Regular', 'Book Antiqua';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CC3300;
}
#u1331 {
  border-width:0px;
  position:absolute;
  left:846px;
  top:134px;
  width:82px;
  height:20px;
  display:flex;
  font-family:'Book Antiqua Regular', 'Book Antiqua';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CC3300;
}
#u1331 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1331_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1332_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:86px;
  height:5px;
}
#u1332 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:156px;
  width:83px;
  height:2px;
  display:flex;
}
#u1332 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1332_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1333_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:86px;
  height:5px;
}
#u1333 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:128px;
  width:83px;
  height:2px;
  display:flex;
}
#u1333 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1333_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1334_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:183px;
  height:5px;
}
#u1334 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:156px;
  width:180px;
  height:2px;
  display:flex;
}
#u1334 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1334_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1335_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:183px;
  height:5px;
}
#u1335 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:128px;
  width:180px;
  height:2px;
  display:flex;
}
#u1335 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1335_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1336_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:119px;
  height:5px;
}
#u1336 {
  border-width:0px;
  position:absolute;
  left:830px;
  top:156px;
  width:116px;
  height:2px;
  display:flex;
}
#u1336 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1336_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1337_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:119px;
  height:5px;
}
#u1337 {
  border-width:0px;
  position:absolute;
  left:830px;
  top:128px;
  width:116px;
  height:2px;
  display:flex;
}
#u1337 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1337_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1338_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:104px;
  height:5px;
}
#u1338 {
  border-width:0px;
  position:absolute;
  left:1147px;
  top:156px;
  width:101px;
  height:2px;
  display:flex;
}
#u1338 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1338_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1339_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:104px;
  height:5px;
}
#u1339 {
  border-width:0px;
  position:absolute;
  left:1147px;
  top:128px;
  width:101px;
  height:2px;
  display:flex;
}
#u1339 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1339_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1340_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:110px;
}
#u1340 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:15px;
  width:168px;
  height:110px;
  display:flex;
}
#u1340 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1340_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1342_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u1342 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:26px;
  width:140px;
  height:80px;
  display:flex;
  color:#1E1E1E;
}
#u1342 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1342_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1343_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:143px;
  height:5px;
}
#u1343 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:20px;
  width:140px;
  height:2px;
  display:flex;
}
#u1343 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1343_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1344_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:143px;
  height:5px;
}
#u1344 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:110px;
  width:140px;
  height:2px;
  display:flex;
}
#u1344 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1344_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1345_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'French Script MT Regular', 'French Script MT';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u1345 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:38px;
  width:108px;
  height:55px;
  display:flex;
  font-family:'French Script MT Regular', 'French Script MT';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u1345 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1345_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1346_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:88px;
}
#u1346 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:24px;
  width:2px;
  height:85px;
  display:flex;
}
#u1346 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1346_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1347_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:88px;
}
#u1347 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:24px;
  width:2px;
  height:85px;
  display:flex;
}
#u1347 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1347_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1348_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Book Antiqua Regular', 'Book Antiqua';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CC3300;
}
#u1348 {
  border-width:0px;
  position:absolute;
  left:1036px;
  top:134px;
  width:34px;
  height:20px;
  display:flex;
  font-family:'Book Antiqua Regular', 'Book Antiqua';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CC3300;
}
#u1348 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1348_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1349_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:110px;
  height:5px;
}
#u1349 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:156px;
  width:107px;
  height:2px;
  display:flex;
}
#u1349 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1349_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1350_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:110px;
  height:5px;
}
#u1350 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:128px;
  width:107px;
  height:2px;
  display:flex;
}
#u1350 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1350_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1352 {
  position:absolute;
  left:0px;
  top:1300px;
}
#u1352_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1360px;
  height:60px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1352_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1353_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1360px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1353 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1360px;
  height:60px;
  display:flex;
}
#u1353 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1353_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1354_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic Regular', 'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  line-height:13px;
}
#u1354 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:27px;
  width:465px;
  height:17px;
  display:flex;
  font-family:'Century Gothic Regular', 'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  line-height:13px;
}
#u1354 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1354_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1355 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1356_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:21px;
}
#u1356 {
  border-width:0px;
  position:absolute;
  left:1200px;
  top:22px;
  width:15px;
  height:21px;
  display:flex;
}
#u1356 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1356_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1357_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u1357 {
  border-width:0px;
  position:absolute;
  left:1285px;
  top:23px;
  width:19px;
  height:19px;
  display:flex;
}
#u1357 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1357_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1358_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1358 {
  border-width:0px;
  position:absolute;
  left:1219px;
  top:24px;
  width:20px;
  height:20px;
  display:flex;
}
#u1358 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1358_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1359_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1359 {
  border-width:0px;
  position:absolute;
  left:1243px;
  top:24px;
  width:20px;
  height:20px;
  display:flex;
}
#u1359 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1359_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1360_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1360 {
  border-width:0px;
  position:absolute;
  left:1263px;
  top:24px;
  width:18px;
  height:18px;
  display:flex;
}
#u1360 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1360_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1361_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1361 {
  border-width:0px;
  position:absolute;
  left:1308px;
  top:21px;
  width:24px;
  height:24px;
  display:flex;
}
#u1361 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1361_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1362_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic Regular', 'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u1362 {
  border-width:0px;
  position:absolute;
  left:1049px;
  top:23px;
  width:138px;
  height:17px;
  display:flex;
  font-family:'Century Gothic Regular', 'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u1362 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1362_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1363_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1360px;
  height:509px;
}
#u1363 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:181px;
  width:1360px;
  height:509px;
  display:flex;
}
#u1363 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1363_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u1365_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:218px;
}
.u1365 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:218px;
  display:flex;
}
.u1365 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u1365_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1364-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:218px;
}
#u1364-2 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:0px;
  width:220px;
  height:218px;
}
#u1364-3 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:0px;
  width:220px;
  height:218px;
}
#u1364-4 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:0px;
  width:220px;
  height:218px;
}
#u1364-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:268px;
  width:220px;
  height:218px;
}
#u1364-6 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:268px;
  width:220px;
  height:218px;
}
#u1364-7 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:268px;
  width:220px;
  height:218px;
}
#u1364-8 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:268px;
  width:220px;
  height:218px;
}
#u1364 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:749px;
  width:1030px;
  height:486px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1366 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:717px;
  width:1120px;
  height:550px;
  visibility:hidden;
}
#u1366_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1120px;
  height:550px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1366_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1367_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1120px;
  height:550px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic Regular', 'Century Gothic';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1367 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1120px;
  height:550px;
  display:flex;
  opacity:0.800000011920929;
  font-family:'Century Gothic Regular', 'Century Gothic';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1367 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1367_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1368_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:270px;
}
#u1368 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:140px;
  width:270px;
  height:270px;
  display:flex;
  font-family:'Century Gothic Regular', 'Century Gothic';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1368 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1368_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1369_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Book Antiqua Bold', 'Book Antiqua Regular', 'Book Antiqua';
  font-weight:700;
  font-style:normal;
  font-size:42px;
  color:#FFFFFF;
}
#u1369 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:36px;
  width:115px;
  height:51px;
  display:flex;
  font-family:'Book Antiqua Bold', 'Book Antiqua Regular', 'Book Antiqua';
  font-weight:700;
  font-style:normal;
  font-size:42px;
  color:#FFFFFF;
}
#u1369 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1369_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1370_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Book Antiqua Regular', 'Book Antiqua';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#66FFFF;
}
#u1370 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:111px;
  width:64px;
  height:37px;
  display:flex;
  font-family:'Book Antiqua Regular', 'Book Antiqua';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#66FFFF;
}
#u1370 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1370_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1371_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Book Antiqua Regular', 'Book Antiqua';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FF9900;
}
#u1371 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:190px;
  width:84px;
  height:37px;
  display:flex;
  font-family:'Book Antiqua Regular', 'Book Antiqua';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FF9900;
}
#u1371 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1371_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1372_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Book Antiqua Regular', 'Book Antiqua';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u1372 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:291px;
  width:44px;
  height:37px;
  display:flex;
  font-family:'Book Antiqua Regular', 'Book Antiqua';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u1372 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1372_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1373_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:727px;
  height:5px;
}
#u1373 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:163px;
  width:724px;
  height:2px;
  display:flex;
}
#u1373 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1373_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1374_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Book Antiqua Regular', 'Book Antiqua';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u1374 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:388px;
  width:133px;
  height:22px;
  display:flex;
  font-family:'Book Antiqua Regular', 'Book Antiqua';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u1374 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1374_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1375_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:104px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Book Antiqua Regular', 'Book Antiqua';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u1375 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:416px;
  width:630px;
  height:104px;
  display:flex;
  font-family:'Book Antiqua Regular', 'Book Antiqua';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u1375 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1375_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1376_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Book Antiqua Regular', 'Book Antiqua';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u1376 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:250px;
  width:158px;
  height:37px;
  display:flex;
  font-family:'Book Antiqua Regular', 'Book Antiqua';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u1376 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1376_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1377_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Book Antiqua Bold', 'Book Antiqua Regular', 'Book Antiqua';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u1377 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:26px;
  width:100px;
  height:62px;
  display:flex;
  font-family:'Book Antiqua Bold', 'Book Antiqua Regular', 'Book Antiqua';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u1377 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1377_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1378_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:62px;
  background:inherit;
  background-color:rgba(204, 51, 0, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Book Antiqua Bold', 'Book Antiqua Regular', 'Book Antiqua';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u1378 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:26px;
  width:100px;
  height:62px;
  display:flex;
  font-family:'Book Antiqua Bold', 'Book Antiqua Regular', 'Book Antiqua';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u1378 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1378_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1379 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:26px;
  width:100px;
  height:62px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1381_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:70px;
}
#u1381 {
  border-width:0px;
  position:absolute;
  left:1240px;
  top:957px;
  width:60px;
  height:70px;
  display:flex;
}
#u1381 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1381_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:70px;
}
#u1383 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:957px;
  width:60px;
  height:70px;
  display:flex;
}
#u1383 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1383_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1384 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1385_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:1364px;
  height:7px;
}
#u1385 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:696px;
  width:1360px;
  height:3px;
  display:flex;
}
#u1385 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1385_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1386_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1361px;
  height:2px;
}
#u1386 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:691px;
  width:1360px;
  height:1px;
  display:flex;
}
#u1386 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1386_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
